 /* Form*/
form {
    margin: auto;
    height: 430px;
    width: 700px; /* Définir une largeur maximale pour le formulaire */
    padding: 1.5rem; /* Ajoute un espace de 1.5 rem autour du formulaire */
    background-color: #5e5e5e; /* Définir une couleur de fond pour le formulaire */
    border-radius: 20px; /* Arrondir les coins du formulaire */
    margin-top: 150px;

  }

.form-group {
    margin-bottom: 1rem; /* Ajoute un espace de 1 rem entre chaque groupe de formulaires */
  }
  
.form-control {
    width: 100%; /* Définir explicitement la largeur des champs de formulaire */
    padding: 30px; /* Ajoute un espace de 0.5 rem autour des champs de formulaire */
    border: none; /* Supprimer les bordures des champs de formulaire */
    border-radius: 20px; /* Arrondir les coins des champs de formulaire */
    background-color: #ffffff; /* Définir une couleur de fond pour les champs de formulaire */
    resize: none; /* Empêcher les utilisateurs de redimensionner les zones de texte */
  }
  
  .form-control:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajouter une ombre lorsque les champs de formulaire sont focus */
  }
 
.btn{
    
    display: inline-block; /* Afficher le bouton sur une ligne entière */
    padding: 0.5rem 1rem; /* Ajoute un espace de 0.5 rem autour du bouton */
    border: none; /* Supprimer les bordures du bouton */
    border-radius: 0.25rem; /* Arrondir les coins du bouton */
    background-color: #0c84e6; /* Définir une couleur de fond pour le bouton */
    color: #fff; /* Définir une couleur de texte pour le bouton */
    cursor: pointer; /* Définir un pointeur de souris pour le bouton */
    transition: background-color 0.5s ease; /* Ajouter une animation de fond au bouton */
  }
  
.btn:hover {
    background-color: #9c9c9c; /* Définir une couleur de fond différente pour le bouton lorsque la souris est sur le bouton */
  }
  
  .btn:focus {
    outline: none; /* Supprimer l'outline du bouton lorsque la souris est sur le bouton */
  }

/* Styles pour les appareils mobiles */
@media only screen and (max-width: 600px) {
  /* Ajuster la largeur maximale du formulaire */
  form {
    width: 90%; /* Réduire la largeur maximale du formulaire */
    margin-top: 180px; /* Réduire la marge supérieure du formulaire */
    padding: 1rem; /* Réduire le rembourrage du formulaire */
    height: auto; /* Ajuster automatiquement la hauteur du formulaire */
  }

  /* Ajuster la largeur des champs de formulaire */
  .form-control {
    padding: 15px; /* Réduire l'espace autour des champs de formulaire */
  }

  /* Ajuster la taille du bouton */
  .btn {
    padding: 0.5rem 1rem; /* Réduire l'espace autour du bouton */
    font-size: 0.8rem; /* Réduire la taille de la police */
  }
}
